{# src/templates/_settings/edit-block.twig #}

{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}
{% import 'blocksmith/_includes/macros.twig' as macros %}

{% set fullPageForm = true %}

{% block attr %}
	{{ parent() }}
	enctype="multipart/form-data"
{% endblock %}

{% set crumbs = [
    {
        label: "Settings"|t('blocksmith'),
        url: url('admin/settings')
    },
    {
        label: "Plugins"|t('blocksmith'),
        url: url('admin/settings/plugins')
    },
    {
        label: "Configure Blocks"|t('blocksmith'),
        url: url('blocksmith/settings/blocks')
    }
] %}

{% block sidebar %}
	{% include 'blocksmith/_settings/sidebar.twig' %}
{% endblock %}

{% block content %}
	<input type="hidden" name="blockTypeHandle" value="{{ block.handle }}">
	<input type="hidden" name="entryTypeId" value="{{ block.entryTypeId }}">
	{{ actionInput('blocksmith/blocksmith/save-block-settings') }}

	<div class="blocksmith-settings-wrapper">
		<div class="blocksmith-settings-content">
			<div class="blocksmith-section-header blocksmith-edit-block">
				<h1>{{ "Edit Block"|t('blocksmith') }}
					"{{ block.name }}"</h1>
				<div class="blocksmith-badge blocksmith-badge-copy code light" role="button" title="Copy to clipboard" tabindex="0">
					<span class="copytextbtn__value">{{ block.handle }}</span>
					<span class="visually-hidden">Copy to clipboard</span>
					<span class="blocksmith-copytextbtn__icon" data-icon="clipboard" aria-hidden="true"></span>
				</div>
			</div>

			{{ forms.textareaField({
                label: 'Description'|t('blocksmith'),
                name: 'description',
                id: 'description',
                value: block.description,
                rows: 4,
                instructions: 'Provide a short description for this block.'|t('blocksmith')
            }) }}

			{% if block.categories is not empty %}
				{{ forms.checkboxSelectField({
				label: 'Categories'|t('blocksmith'),
				name: 'categories',
				id: 'categories',
				instructions: 'Select one or more categories for this block.'|t('blocksmith'),
				options: block.categories|map(category => { label: category, value: category }),
				values: block.selectedCategories
			}) }}
			{% else %}
				<div class="field">
					<div class="heading">
						<label>{{ 'Categories'|t('blocksmith') }}</label>
					</div>
					<div class="instructions">
						<p>{{ 'No categories available. Please add categories first in the categories settings page.'|t('blocksmith') }}</p>
					</div>
				</div>
			{% endif %}

			<div class="field">
				<div class="heading">
					<label for="previewImage">{{ "Preview Image"|t('blocksmith') }}</label>
				</div>
				{% if block.useHandleBasedPreviews %}
					<div class="instructions">
						<p>{{ "This block uses a handle-based preview image."|t('blocksmith') }}</p>
					</div>
					{% if not block.handleBasedImageUrl %}
						<div class="blocksmith-hint">
							{{ "Add a PNG file named {fileName} to the configured asset volume."|t('blocksmith', { fileName: block.handle ~ '.png' }) }}
						</div>
					{% endif %}
					<div class="blocksmith-preview-image">
						<img src="{{ block.handleBasedImageUrl ?? block.placeholderImageUrl }}" alt="{{ "Preview Image"|t('blocksmith') }}">
					</div>
				{% else %}
					<div class="instructions">
						<p>{{ "Choose a preview image for this block. This image will be shown in the block selection modal."|t('blocksmith') }}</p>
					</div>

					<div id="previewImage-field" class="input">
						<button type="button" id="previewImage-picker" class="btn" data-icon="image">
							{{ block.previewImageId ? "Change image"|t('blocksmith') : "Select or upload an image"|t('blocksmith') }}
						</button>

						{% if block.previewImageUrl %}
							<div class="blocksmith-preview-image">
								<img src="{{ block.previewImageUrl }}" alt="{{ "Preview Image"|t('blocksmith') }}">
							</div>
						{% endif %}

						<input type="hidden" name="previewImageId" id="previewImageId" value="{{ block.previewImageId ?? '' }}">

						{% if block.previewImageId %}
							<button type="button" id="previewImage-delete" class="btn" style="margin-top: 1rem;" data-icon="remove">
								{{ "Remove image"|t('blocksmith') }}
							</button>
						{% endif %}
					</div>
				{% endif %}
			</div>


		</div>
	</div>
{% endblock %}
