{# src/templates/_settings/edit-category.twig #}

{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}
{% import 'blocksmith/_includes/macros.twig' as macros %}

{% set fullPageForm = true %}

{% set title = category ? ("Edit Category" | t('blocksmith')) : ("New Category" | t('blocksmith')) %}

{% block sidebar %}
	{% include 'blocksmith/_settings/sidebar.twig' %}
{% endblock %}

{% block content %}
	<input type="hidden" name="pluginHandle" value="blocksmith">
	<input type="hidden" name="id" value="{{ category.id ?? '' }}">
	{{ actionInput('blocksmith/blocksmith/save-category') }}

	<div class="blocksmith-settings-wrapper">
		<div class="blocksmith-settings-content">
			<h1>{{ title }}</h1>

			{{ forms.textField({
                label: 'Name'|t('blocksmith'),
                name: 'name',
                id: 'name',
                value: category.name ?? '',
                required: true,
                instructions: 'Enter the name of the category.'|t('blocksmith')
            }) }}

			{{ forms.textareaField({
                label: 'Description'|t('blocksmith'),
                name: 'description',
                id: 'description',
                value: category.description ?? '',
                rows: 4,
                instructions: 'Provide a short description for this category (optional).'|t('blocksmith')
            }) }}

		</div>
	</div>
{% endblock %}
