{# src/templates/_settings/general.twig #}

{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}
{% import 'blocksmith/_includes/macros.twig' as macros %}

{% set fullPageForm = true %}

{% set crumbs = [
    {
        label: "Settings"|t('blocksmith'),
        url: url('admin/settings')
    },
    {
        label: "Plugins"|t('blocksmith'),
        url: url('admin/settings/plugins')
    }
] %}

{% block sidebar %}
	{% include 'blocksmith/_settings/sidebar.twig' %}
{% endblock %}

{% block content %}
	<input type="hidden" name="pluginHandle" value="blocksmith">
	{{ actionInput('blocksmith/blocksmith/save-settings') }}

	<div class="blocksmith-settings-wrapper">
		<div class="blocksmith-settings-content">

			<h1>{{ "General Settings"|t('blocksmith') }}</h1>

			{{ forms.lightswitchField({
                label: 'Use Handle-based Previews'|t('blocksmith'),
                name: 'useHandleBasedPreviews',
                id: 'useHandleBasedPreviews',
                instructions: 'Enable this option to use automatic image assignment based on entry type handles. The preview images need to be named after their block handle (e.g., textAndImage.png).'|t('blocksmith'),
                on: settings.useHandleBasedPreviews,
            }) }}

			{% if settings.useHandleBasedPreviews %}

				{{ forms.selectField({
                    label: 'Preview Image Volume'|t('blocksmith'),
                    name: 'previewImageVolume',
                    id: 'previewImageVolume',
                    instructions: 'Choose the volume where preview images will be stored.'|t('blocksmith'),
                    options: volumeOptions,
                    value: settings.previewImageVolume,
                    disabled: 'previewImageVolume' in overrides,
                    warning: 'previewImageVolume' in overrides ? macros.configWarning('previewImageVolume'),
                }) }}

				{{ forms.textField({
                    label: 'Subfolder (optional)'|t('blocksmith'),
                    name: 'previewImageSubfolder',
                    id: 'previewImageSubfolder',
                    instructions: 'Specify an optional subfolder within the selected volume for storing images.'|t('blocksmith'),
                    value: settings.previewImageSubfolder,
                    disabled: 'previewImageSubfolder' in overrides,
                    warning: 'previewImageSubfolder' in overrides ? macros.configWarning('previewImageSubfolder'),
                }) }}
			{% endif %}


			{{ forms.lightswitchField({
                label: 'Preview Modal: Show 3 Blocks per Row (Default 2) in Wide Viewport'|t('blocksmith'),
                name: 'wideViewFourBlocks',
                id: 'wideViewFourBlocks',
                instructions: 'Enable this option to display 3 blocks per row for browser widths of 1178px or more.'|t('blocksmith'),
                on: settings.wideViewFourBlocks,
            }) }}

		</div>
	</div>
{% endblock %}
