{# src/templates/_settings/general.twig #}

{% extends "blocksmith/_settings/layout.twig" %}

{% block body %}
	{# Originalinhalt aus _settings.twig #}
	{% import '_includes/forms.twig' as forms %}

	{# Macro for displaying config warnings #}
	{% macro configWarning(setting) %}
		{% set setting = '<code>'~setting~'</code>' %}
		{{ "This setting is being overridden by {setting} in the {file} config file."|bt({
            setting: setting,
            file: '<code>blocksmith.php</code>'
        })|raw }}
	{% endmacro %}
	{% from _self import configWarning %}

	{# Display a notice or warning based on volume selection #}
	{% if settings.previewImageVolume %}
		<div class="notice">
			{{ "A default volume has been set automatically. You can update it here if necessary."|bt }}
		</div>
	{% else %}
		<div class="warning">
			{{ "No volume has been set. Please select a volume to store preview images."|bt }}
		</div>
	{% endif %}

	{# Volume selection dropdown field #}
	{{ forms.selectField({
        label: 'Preview Image Volume'|bt,
        name: 'previewImageVolume',
        id: 'previewImageVolume',
        instructions: 'Choose the volume where preview images will be stored.'|bt,
        options: volumeOptions,
        value: settings.previewImageVolume,
        disabled: 'previewImageVolume' in overrides,
        warning: 'previewImageVolume' in overrides ? configWarning('previewImageVolume'),
    }) }}

	{# Subfolder input field #}
	{{ forms.textField({
        label: 'Subfolder (optional)'|bt,
        name: 'previewImageSubfolder',
        id: 'previewImageSubfolder',
        instructions: 'Specify an optional subfolder within the selected volume for storing images.'|bt,
        value: settings.previewImageSubfolder,
        disabled: 'previewImageSubfolder' in overrides,
        warning: 'previewImageSubfolder' in overrides ? configWarning('previewImageSubfolder'),
    }) }}

	{# Additional block for custom settings or hints (future-proof) #}
	<div class="field custom-settings">
		<h3>{{ "Custom Settings" | bt }}</h3>
		<p>{{ "Will be added soon." | bt }}</p>
	</div>
{% endblock %}
